@use "../../styles/vars.scss";

.consent {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input + input {
      margin-left: 2rem;
    }
  }

  .consents {
    margin-top: 1rem;
    text-align: center;

    .checkboxes {
      margin-top: 1rem;
      padding: 1rem;
      border: 1px solid vars.$color-text;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  button {
    margin-top: 1rem;
  }
}

.tableWrapper {
  max-width: 800px;
}
